<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">{{ .Title }}</h1>
        <p class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</p>
        <div class="divider"></div>
      </div>
    </div>

    <div class="content">
      {{ .Content }}
    </div>

    <div class="menu">
      {{ range .Paginator.Pages }}
         {{ partial "summary-with-image.html" . }}
      {{ end }}
    </div>

    <div class="columns">
    <div class="column is-2 is-left mt-20">
    {{ template "_internal/pagination.html" . }}
    </div>
    </div>
  </div>
</section>
