{{- $section2 := .Site.Params.section2 }}
{{- $title    := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}
{{- $buttonText := index $section2 "buttontext" }}
{{- $buttonLink := index $section2 "buttonlink" }}
{{- $id    := index $section2 "id" }}
<section {{ if $id }} id="{{ $id }}" {{ end }} class="section is-medium">
  <div class="is-mobile mt-40"></div>
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">{{ $title }}</h1>
        <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
        <div class="divider"></div>

        {{ with $buttonText }}
        <div class="mt-6">
          <a class="button rounded primary-btn raised" href="{{ $buttonLink }}">
            {{ $buttonText }}
          </a>
        </div>
        {{ end }}

      </div>

      <div class="column is-7 mt-60">
        {{ with $features }}
        {{- range $features }}
        <article class="media icon-box">
          {{ if .icon }}
          <figure class="media-left">
            <p class="image">
              <img src="{{ printf "/images/illustrations/icons/%s.svg" .icon | relURL }}">
            </p>
          </figure>
          {{ end }}
          <div class="media-content mt-50">
            <div class="content">
              <p>
                {{ if .link }}
                  <a href="{{ .link }}">
                    <span class="icon-box-title">{{ .title }}</span>
                  </a>
                {{ else }}
                  <span class="icon-box-title">{{ .title }}</span>
                {{ end }}

                <span class="icon-box-text">{{ .text | markdownify }}</span>
              </p>
            </div>


          </div>
        </article>
        {{- end }}
        {{- end }}
      </div>
    </div>
  </div>
</section>
